* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-transition: .7s ease-in-out;
  -o-transition: .7s ease-in-out;
  transition: .7s ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  margin: 0 auto;
  outline: none;
  background-image: url("./../Images/bgBody.jpg");
  background-repeat: repeat;
  -webkit-background-size: auto auto;
          background-size: auto;
  scroll-behavior: smooth;
}

input::-ms-clear {
  display: none;
}

input::-webkit-input-placeholder {
  color: grey;
  padding: 10px;
  text-overflow: ellipsis;
}

input::-moz-placeholder {
  color: grey;
  padding: 10px;
  text-overflow: ellipsis;
}

input:-ms-input-placeholder {
  color: grey;
  padding: 10px;
  text-overflow: ellipsis;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

button:active, button:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0 !important;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  outline: none !important;
}

video:active, video:focus {
  outline: none !important;
}

ul li {
  list-style: none;
}

.wrapper {
  max-width: 100%;
  width: 100%;
  margin: auto;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
