.top__title {
  position: relative;
  cursor: default;
}

.top__title-name {
  position: absolute;
  top: 20%;
  right: 10%;
  z-index: 10;
}

@media screen and (max-width: 980px) {
  .top__title-name {
    top: 30%;
  }
}

@media screen and (max-width: 480px) {
  .top__title-name {
    top: 40%;
  }
}

.top__title-name h1 {
  font-size: 150px;
  color: #fff;
  margin-bottom: 20px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #222;
}

@media screen and (max-width: 980px) {
  .top__title-name h1 {
    font-size: 100px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .top__title-name h1 {
    font-size: 50px;
    margin-bottom: 0px;
  }
}

.top__title-name span {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: #222;
}

@media screen and (max-width: 980px) {
  .top__title-name span {
    font-size: 25px;
  }
}

@media screen and (max-width: 480px) {
  .top__title-name span {
    font-size: 20px;
  }
}
